.deck{
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin: 10px;
   user-select:none;
    .container{
        padding: 5px;
        border: 1px solid black;
        border-radius: 9px;
        width: 250px;
        height: 320px;
        display: flex;
        justify-content: space-around;
        .col1,.col2,.col3,.col4,.col5{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            img{
                padding: 5px 0px !important;
            }
        }
        .col1{
            justify-content: flex-start;
        }
        .col5{
            justify-content: flex-start;
        }
        .col1,.col5{
            height: 20;
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
              height: 32px !important;  
            }
        }
        .col5{
            transform: rotate(180deg);
        }
        .rank{
            font-size:50px;
            line-height: .8;
        }
    }

}

 .A{
    .container{
        .col3{
            img{
                height: 130px  !important;
            }
        }
        .col2,.col4{
            width: 0px;
            display: none;
        }

    }    
    }


.K,.Q,.J{
    .container{
        .col3{
            img{
                padding: none !important;
                height: 150px  !important;
                width: 160px !important;
                
            }
        }
        .col2,.col4{
            width: 0px;
            display: none;
        }

    }
}
.diamond,.heart{
    color:#D40100;
}

.rotate{
    transform: rotate(180deg);
}
